

html{
  background-image: url(images/bg.jpg);
  background-size: cover;
  
}
body {
  padding-top: 60px;
  text-align: center;
  display: flex;
  justify-content: space-between;

  
 
}


.instruct{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.right{
  padding: 90px;
}

img{
  height: 80px;
  width: 80px;

}
h1 {
  font-size: 3rem;
  color: #DBEDF3;
  font-family: Arial, Helvetica, sans-serif;
  

}

h4{
  margin: 2px;
  font-size: 1.8rem;
  color: #DBEDF3;
  font-family: Arial, Helvetica, sans-serif;
  

}

/* .t {
  background-image: url("images/crash.png");
  background-size: contain;
 
}

.f {
  background-image: url("images/mediumtom.jpeg");
  background-size: contain;
}

.g {
  background-image: url("images/floortom.jpg");
  background-size: contain;
}

.h {
  background-image: url("images/floortom.jpg");
  background-size: contain;
  
}

.j {
  background-image: url("images/mediumtom.jpeg");
  background-size: contain;
}

.v {
  background-image: url("images/kick.png");
  background-size: contain;
}

.b {
  background-image: url("images/snare.png");
  background-size: contain;
} */

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 10px 10px 0 #ffffff;
  /* opacity: 0.5; */
  background-color: #c61717;

}


.text{
 
}

.top{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cowbell{
  height:100px ;
  width: 100px;
  border-radius: 95px;
  display: inline-block;
  text-align: center;
  outline: none;
  border: 10px solid #62687a;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #121212;
  margin-right: 20px;
}


.head{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(237, 233, 233);
}

.t{
  height:100px ;
  width: 100px;
  border-radius: 95px;
  display: inline-block;
  text-align: center;
  outline: none;
  border: 10px solid #62687a;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #121212;
  margin-right: 10px;

}

.text{
  display: flex;

}
.red {
  color: red;
}

.butn{
  margin: 10px;
  height: 60px;
  width: 60px;
  border: 5px solid #62687a;
  font-weight: 900;
  font-size: 2rem;


}

.drum {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  outline: none;
  border: 10px solid #62687a;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  font-weight: 900;
  color: #121212;
  
  border-radius: 95px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  /* text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; */
}
